*{
  margin: 0%;
}

p{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: blanchedalmond;
  
}
.h{
  color: rgb(4, 59, 59);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: larger;


}